<div class="box animal">  
  <div class="col">
    <div class="avatar">
      <a href="/animal/{{_id}}">
        <img src="{{image}}" alt="">
      </a>
    </div>
  </div>
  <div class="col">
    <a href="/animal/{{_id}}">
      <ul>
        <li class="name"><h3>{{name}}</h3></li>
        <li class="size">Size: Small</li>
      </ul>
    </a>
    <div class="buttons">
      <a href="/animals/{{_id}}" title="Edit" class="btn">Edit</a>
      <a href="/animals/{{_id}}" title="Remove" class="btn">Remove</a>
    </div>
  </div>
</div>