<div class="box animal">
  <div class="col">
    <div class="avatar">
      <a href="/animal/{{animal._id}}">
        <img src="{{animal.image}}" alt="">
      </a>
    </div>
  </div>
  <div class="col">
    <ul>
      <li class="name">
        <h3>{{animal.name}}</h3>
      </li>
      <li>Current owner: {{owner.username}} </li>
      <li>Process: {{animal.type}}</li>
      <li>Status: {{status}}</li>
    </ul>
    <div class="buttons">
      <a href="/adoption/{{_id}}/accept" name="accept" title="Accept" class="btn">Accept</a>
      <a href="/adoption/{{_id}}/reject" name="reject" title="Reject" class="btn">Reject</a>
    </div>
  </div>
</div>