<div class="card flex">  
  <div class="col">
    <div class="avatar">
      <a href="/user/{{_id}}">
        <img src="{{avatar}}" alt="{{fullname}}">
      </a>
    </div>
  </div>
  <div class="col">
    <a href="/user/{{_id}}">
      <ul>
        <li class="name">
          <h3>{{fullname}}</h3>
        </li>
        <li class="name">@{{username}}</li>
      </ul>
    </a>
  </div>
</div>