<main id="details-main">
  <h2>Hi there! I'm {{name}}</h2>
  <section class="animal-data">
    <div class="animal-photo">
      <img src="{{image}}" alt="{{name}}'s photo'">
    </div>
    <div class="details-list">
      <ul>
        <li><b>Name:</b>{{name}}</li>
        <li><b>Category:</b>{{category}}</li>
        <li><b>Size:</b>{{size}}</li>
        <li><b>CheckIn / CheckOut:</b>{{checkin}} / {{checkout}}</li>
        {{#if specialNeeds}}
        <li><b>Animal with special needs</b></li>
        {{/if}}
      </ul>
    </div>
  </section>
  <section class="animal-text">
    <div class="animal-description">
      <h4>Animal Description</h4>
      <p>{{description}}</p>
    </div>
    <div class="animal-routine">
      <h4>Care Routine</h4>
      <p>{{careRoutine}}</p>
    </div>
  </section>
  <button>
    <a href="/animal/{{_id}}/delete">Delete {{name}}</a>
  </button>
</main>