<section class="mw-1600">
  <div class="form">
    <form method="POST">
      <div class="input-group">
        <label for="name">Pet's Name</label>
        <input type="text" name="name" id="name" placeholder="Type your pet's name" value="{{animal.name}}">
      </div>

      <div class="input-group">
        <label for="category">Pet's species</label>
        <select name="category" id="category">
          <option value="dog">Dog</option>
          <option value="cat">Cat</option>
          <option value="snake">Snake</option>
          <option value="rabbit">Rabbit</option>
          <option value="bird">Bird</option>
        </select>
      </div>

      <div class="input-group">
        <label for="size">Pet's size</label>
        <select name="size" id="size">
          {{#each objSizes}}
            <option value="{{name}}" {{isSelected}}>{{name}}</option>
          {{/each}}
        </select>
      </div>

      <div class="input-group">
        <label for="image">Pet's Photo</label>
        <input type="url" name="image" id="image" placeholder="Link your pet's photo" value="{{animal.image}}">
      </div>

      <div class="input-group">
        <label for="chekin">Check-In</label>
        <input type="date" name="checkin" id="checkin" value="{{checkInDate}}">
      </div>

      <div class="input-group">
        <label for="checkout">Check-Out</label>
        <input type="date" name="checkout" id="checkout" value="{{checkOutDate}}">
      </div>

      <div class="input-group">
        <label for="description">Pet's description</label>
        <textarea id="description" name="description" rows="4" cols="50">{{animal.description}}
        </textarea>
      </div>

      <div class="input-group">
        <label for="careRoutine">Care Routine</label>
        <textarea id="careRoutine" name="careRoutine" rows="4" cols="50">{{animal.careRoutine}}
        </textarea>
      </div>

      <div class="input-group">
        <label for="specialNeeds"> Special Needs</label><br>
        <input type="checkbox" id="specialNeeds" name="specialNeeds" {{#if animal.specialNeeds}} checked="true" {{/if}}>
      </div>
      <button type="submit">Edit Pet</button>
      {{#if errorMessage}}
      <p>{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>
</section>