<section id="userProfile">
  <div class="header">
    <h1>My Profile</h1>
    <p>See and edit your profile data and animals added</p>
  </div>
  <div class="box">
    {{#if userInSession}}
    <div class="user wrapper">
      <div class="col">
        <div class="avatar">
          <img src="{{user.avatar}}" alt="{{user.username}}">
        </div>
      </div>
      <div class="col">
        <div class="user-data">
          <ul>
            <li class="username">
              <h1>{{user.username}}</h1>
            </li>
            <li class="username">
              <p>@{{user.username}}</p>
            </li>
            <li class="description">{{user.description}}</li>
            <li class="">{{#if user.sitter}} User is sitter {{/if}}</li>
            <li>
              <a href="/user/{{user._id}}/edit" title="Edit profile">Edit profile</a>
              <a href="/user/{{user._id}}/delete" title="Delete profile">Delete profile</a>
            </li>
            <li class="username">
              <p>@{{userInSession.username}}</p>
            </li>
            <li class="description">{{userInSession.description}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header">
    <h2>{{user.username}}'s animals</h2>
  </div>
  <div class="animals wrapper">
    {{#each userAnimals}}
    {{> animalCardCRUD}}
    {{/each}}
  </div>
  <div class="header">
    <h2>{{userInSession.username}}'s already rehomed!</h2>
  </div>
  <div class="animals wrapper">
    {{#each userAnimalsAdopted}}
    {{> animalCardADOPT}}
    {{/each}}
  </div>
  <div class="header">
    <h2>{{userInSession.username}}'s animals pets!</h2>
  </div>
  <div class="animals wrapper">
    {{#each userAnimalsOwned}}
    {{> animalCardOWNED}}
    {{/each}}
  </div>
  {{#if user.sitter}}
  <div class="animals wrapper">
    {{#each animalsSitted}}
    {{> animalCardADOPT}}
    {{/each}}
  </div>
  {{/if}}
  {{else}}
  <p>Still not logged in. Please <a href="/login">login</a>.</p>
  {{/if}}
  {{> addButton}}
</section>