<section id="userProfile">
  <div class="header">
    <p>My Profile</h1>
    <p>See and edit your profile data and animals added</p>
  </div>
  <div class="box">
    <div class="user wrapper">
      <div class="col">
        <div class="avatar">
          <img src="{{user.avatar}}" alt="{{user.username}}">
        </div>
      </div>
      <div class="col">
        <div class="user-data">
          <ul>
            <li class="username"><h1>{{user.username}}</h1></li>
            <li class="description">{{user.description}}</li>
            {{!-- <li class="edit-profile">
              <a href="/users/edit?user_id={{_id}}" title="Edit profile" class="btn">Edit profile</a>
            </li> --}}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header">
    <h2>Animals added</h2>
  </div>
  <div class="animals wrapper">
    {{> animalCard}}
    {{#each animal}}
      {{> animalCard}}
    {{/each}}
  </div>
  {{> addButton}}
</section>