<section class="mw-1600 user-profile">
  <div class="content">
    <div class="cover bg-auth"></div>
    <div class="user wrapper">
      <div class="col flex">
        <div class="avatar">
          <img src="{{user.avatar}}" alt="{{user.fullname}}">
        </div>
      </div>
      <div class="col">
        <div class="user-data">
          <ul>
            <li class="name">
              <h1>{{user.fullname}}</h1>
            </li>
            <li class="username">@{{user.username}}</li>
            <li class="description">{{user.description}}</li>
            <li class="isSitter">{{#if user.sitter}} <span class="lnr lnr-checkmark-circle"></span> Can host pets {{/if}}</li>
          </ul>
        </div>
      </div>
    </div>
    <section class="animal-adoption">
      <h3>Do you want {{user.fullname}} to take care of your pet?</h3>
      <form action="/user/{{user._id}}/hire" method="POST">
        <div class="input-group">
          <label for="animalid">Select one of your registered animals</label>
          <select name="animalid" id="animalid">
            {{#each animalsForSitting}}
            <option value="{{_id}}">
              {{name}}
            </option>
            {{/each}}
          </select>
        </div>
        <input type="submit" value="Hire Sitter!">
      </form>
      <h5>If you don't have any animals registered, go to <a href="/animal/add">Register Animal</a></h5>
    </section>
    {{> addButton}}
  </div>
</section>