<section id="userProfile">
  <div class="header">
    <h1>My Profile</h1>
    <p>See and edit your profile data and animals added</p>
  </div>
  <div class="box">
    {{#if userInSession}}
    <div class="user wrapper">
      <div class="col">
        <div class="avatar">
          <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="John Doe">
        </div>
      </div>
      <div class="col">
        <div class="user-data">
          <ul>
            <li class="username"><h1>{{userInSession.username}}</h1></li>
            <li class="username"><p>@{{userInSession.username}}</p></li>
            <li class="description">{{userInSession.description}}</li>
            <li class="edit-profile">
              <a href="/user/{{userInSession._id}}/edit" title="Edit profile">Edit profile</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header">
    <h2>{{userInSession.username}}'s animals</h2>
  </div>
  <div class="animals wrapper">
    {{#each userAnimals}}
      {{> animalCardCRUD}}
    {{/each}}
  </div>
  {{else}}
    <p>Still not logged in. Please <a href="/login">login</a>.</p>
  {{/if}}
  {{> addButton}}
</section>