<section id="userProfile">
  <div class="header">
    <h1>{{user.username}}'s profile</h1>
  </div>
  <div class="box">
    <div class="user wrapper">
      <div class="col">
        <div class="avatar">
          <img src="{{user.avatar}}" alt="John Doe">
        </div>
      </div>
      <div class="col">
        <div class="user-data">
          <ul>
            <li class="username">
              <h1>{{user.username}}</h1>
            </li>
            <li class="username">
              <p>@{{user.username}}</p>
            </li>
            <li class="description">{{user.description}}</li>
            <li class="">{{#if user.sitter}} User is a sitter {{/if}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <section class="animal-adoption">
    <h3>Do you want {{user.username}} to take care of your pet?</h3>
    <form action="/user/{{user._id}}/hire" method="POST">
      <div class="input-group">
        <label for="animalid">Select one of your registered animals</label>
        <select name="animalid" id="animalid">
          {{#each animalsForSitting}}
          <option value="{{_id}}">
            {{name}}
          </option>
          {{/each}}
        </select>
      </div>
      <input type="submit" value="Hire Sitter!">
    </form>
    <h5>If you don't have any animals registered, go to <a href="/animal/add">Register Animal</a></h5>
  </section>
  {{> addButton}}
</section>